<div class="rounded-xl overflow-scroll bg-white max-h-[500px] scrollbar-hidden">
	<div class="flex gap-2 items-center p-4">
		<img class="w-5" src="images/icon-task-star.svg" alt=""/>
		<h1 class="font-semibold text-lg">Comentar tarefa</h1>
		<img (click)="onCloseModal()" class="ml-auto cursor-pointer w-5" src="images/icon-close.svg" alt=""/>
	</div>
	<div class="p-4 border-t border-[#d1d5db]">
		<h1 class="font-semibold text-lg mb-4">{{ _task.name }}</h1>
		<p class="font-semibold text-sm mb-2">Descrição</p>
		<p class="font-normal text-base text-[#374151]">{{ _task.description }}</p>
	</div>
	<div class="p-4">
		<div class="bg-[#f3f4f6] p-5 rounded-xl flex flex-col gap-5">
			<div class="font-bold text-sm">
				<p>Comentários</p>
			</div>
			<div class="flex items-start gap-2">
				<div class="flex flex-col w-full">
					<input
						class="w-full bg-white flex-1 border border-[#d1d5db] p-3 rounded-lg text-sm font-light text-[#89919f]"
						type="text"
						placeholder="adicione um comentário"
						[formControl]="commentControl"
					/>
				</div>
				<button
					type="button"
					class="{{ `py-3 px-4 rounded-xl text-sm font-semibold cursor-pointer active:translate-y-1 duration-300 ease-in-out shadow-md
					${commentControl.invalid ?
					'bg-[#d7d8d8] cursor-not-allowed':
					' bg-[#2a89ef] hover:bg-[#1e6fdb] shadow-blue-500 text-white'}`}}"
					type="submit"
					(click)="onAddComment()"
					[disabled]="commentControl.invalid">
						Adicionar
				</button>
			</div>
			<div class="flex flex-col gap-5 overflow-scroll max-h-44 scrollbar-hidden">
				@for(comment of _task.comments; track comment.id){
					<div class="flex flex-col gap-3 border-b border-[#d1d5db] pb-2 last:pb-0 last:border-0">
						<div>
							<p class="font-light text-sm text-[#374152]">{{ comment.description }}</p>
						</div>
						<div class="flex flex-row gap-4 mb-3">
							<p class="font-normal text-xs text-[#9ca3af]">Comentado há 10 min atrás</p>
							<p class="font-semibold text-xs underline underline-offset-2 cursor-pointer">Apagar</p>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

