<header class="bg-[#f0f0f0] py-3 px-6 rounded-lg w-full flex items-center justify-between">
	<div class="logo flex items-center gap-2">
		<img src="images/icon-logo.svg" alt="GoTask Logo" class="w-5"/>
		<h1 class="font-bold">GoTask</h1>
	</div>
	<nav class="ml-auto flex items-center gap-4">
		<button class="bg-white p-2 rounded-xl cursor-pointer">
			<img src="images/icon-notification.svg" class="w-5" alt="">
		</button>
		<div class="flex items-center gap-2">
			<img src="images/icon-user-avatar.svg" class="w-7" alt="">
			<span class="font-bold">Jennie K.</span>
		</div>
		<button class="cursor-pointer">
			<img src="images/icon-sign-out.svg" class="w-5" alt="">
		</button>
	</nav>
</header>
